<div class="container">
  <h1 class="mat-display-1">Top Fluctuations</h1>
  <div class="content mat-elevation-z3" [hidden]="requestStatus !== 'SUCCESS'">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Increase
          <app-fluctuation-icon
            [fluctuation]="increaseFluctuation"
          ></app-fluctuation-icon>
        </ng-template>
        <app-comparison-table
          [data]="ratesData.increase"
        ></app-comparison-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Decrease
          <app-fluctuation-icon
            [fluctuation]="decreaseFluctuation"
          ></app-fluctuation-icon>
        </ng-template>
        <app-comparison-table
          [data]="ratesData.decrease"
        ></app-comparison-table>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="content" *ngIf="requestStatus === 'LOADING'">
    <p class="mat-headline">Loading rates...</p>
  </div>
  <div class="content" *ngIf="requestStatus === 'ERROR'">
    <p class="mat-headline">{{ errorMessage }}</p>
  </div>
</div>
