:host {
  display: block;
  height: 100%;
}

.link {
  background: white;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;

  .icon {
    font-size: 3em;
    margin: 2rem 0;
    width: 1em;
    height: 1em;
    display: inline-block;
  }

  .title {
    margin-bottom: 0;
  }
}

.container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  min-height: 50%;
  justify-content: center;
  @media (max-width: 768px) {
    display: block;
  }
}

.expander {
  flex: 1;
}

.links-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  position: relative;
}
