.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  top: 0;
  z-index: 1;
}

.sitetitle {
  background: {
    color: rgba(0, 0, 0, 0.2);
    image: linear-gradient(
      26deg,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.5)
    );
  }
  border: 1px solid #0f9b57;
  border-radius: 4px;
  color: #fff;
  padding: 0.5em;
  text-decoration: none;
}

.expander {
  flex: 1;
}

.main {
  padding: 1rem 2rem;
}
