<h1 class="displa-4">
  <a
    matTooltip="Go back to rates lists"
    matTooltipPosition="above"
    aria-label="Link to the table with all rates"
    mat-icon-button
    [routerLink]="['/latest']"
    ><mat-icon>arrow_back</mat-icon></a
  >
  You're visualizing:
  <strong>{{ currencies.base }} vs {{ currencies.secondary }}</strong>
</h1>

<div class="content">
  <p *ngIf="requestStatus === 'LOADING'" class="mat-headline">
    Loading rates...
  </p>
  <p *ngIf="requestStatus === 'ERROR'" class="mat-headline">
    {{ errorMessage }}
  </p>
  <canvas
    *ngIf="requestStatus === 'SUCCESS'"
    baseChart
    class="chart"
    chartType="bar"
    legend="true"
    [datasets]="historicData"
    [labels]="historicLabels"
    [options]="chartOptions"
  ></canvas>
</div>
