/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.text-center,
.mat-header-cell.text-center {
  text-align: center;
}

.text-right {
  text-align: right;

  &.mat-header-cell {
    .mat-sort-header-container {
      justify-content: flex-end;
    }
  }
}

.content {
  width: 80%;
}

table {
  width: 100%;
}
